body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

label {
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #63818a;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.errors {
  color: red;
}
